body{
    margin: 0;
}

main, footer{
    width: 70%;
    margin: 0 auto;
}

/* header */
header{
    height: 110px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: 40% auto;
    padding: 0 calc(30% / 2);
}

.logo{
    width: 250px;
    margin-top: 40px;
    margin-left: 10px;
}

/* main */

.articolo_title{
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    font-size: 60px;
    margin: auto;
}

.title_bottom{
    color: grey;
}

.autore{
    font-size: 20px;
}

.title_bottom a{
    text-decoration: none;
    color: #20A9E5;
}

.data{
    font-size: 14px;
}

.foto_bottom{
    font-size: 14px;
}

.evidenziato{
    background-color: yellow;
}

table{
    text-align: left;
    border-spacing: 0;
}

thead{
    color: white;
    background-color: #20A9E5;
}
.colonna_1, .colonna_2{
    width: 20%;
}

.riga-alternata{
    background-color: #B1E5F2;
}

.foto_top_img{
    height: 30%;
}
/* footer */
footer{
    color: grey;
}
.suggeriti a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#suggeriti_img_1{
    width: 250px;
    height: 180px;
    background-image: url("../img/monitor.jpg");
    background-position: cover;
    background-position: center;
    padding: 10px;
    margin-bottom: 15px;
}

#suggeriti_img_2{
    width: 250px;
    height: 180px;
    background-image: url("../img/graph.jpg");
    background-position: cover;
    background-position: center;
    padding: 10px;
    margin-bottom: 15px;
}