body{
    margin: 0;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* header */
header{
    height: 110px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: 40% auto;
}

.logo{
    width: 250px;
    margin-top: 40px;
    margin-left: 10px;
}

/* main */
main{
    padding: 0 5px;
}

.articolo_title{
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    font-size: 40px;
    margin: auto;
}

.title_bottom{
    color: grey;
}

.autore{
    font-size: 20px;
}

.title_bottom a{
    text-decoration: none;
    color: #20A9E5;
}

.data{
    font-size: 14px;
}

.foto_bottom{
    font-size: 14px;
}

.evidenziato{
    background-color: yellow;
}

table{
    text-align: left;
    border-spacing: 0;
}

thead{
    color: white;
    background-color: #20A9E5;
}
.colonna_1, .colonna_2{
    width: 20%;
}

.riga-alternata{
    background-color: #B1E5F2;
}

/* footer */
footer{
    color: grey;
    margin: 30px 0;
}
.suggeriti{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#suggeriti_img_1{
    width: 250px;
    height: 180px;
    background-image: url("../img/monitor.jpg");
    background-position: cover;
    background-position: center;
    padding: 10px;
    margin-bottom: 15px;
}

#suggeriti_img_2{
    width: 250px;
    height: 180px;
    background-image: url("../img/graph.jpg");
    background-position: cover;
    background-position: center;
    padding: 10px;
    margin-bottom: 15px;
}