body{
    margin: 0;
}

.container{
    width: 70%;
    margin: 0 auto;
}

header{
    height: 110px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: 40% auto;
}

.logo{
    width: 250px;
    margin-top: 40px;
    margin-left: 10px;
}

main{
    padding: 0 5px;
}

.title_top{
    margin-top: 20px;
}

h1{
    font-size: 40px;
    margin: auto;
}

.title_bottom{
    color: grey;
}

.autore{
    font-size: 20px;
}

.title_bottom a{
    text-decoration: none;
    color: #20A9E5;
}

.data{
    font-size: 14px;
}
